<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

using System;
using System.Collections.Generic;

namespace Sample.Generated {
public partial class Raw {
    public sealed class <#= _type.Name #>
    {
		public long Id { get; set; }
        public string Name { get; set; }
    }
}}

