<#@ template language="C#" #>
using System;
using System.Collections.Generic;

namespace Sample.Generated {
    public sealed class Create<#= _type.ClrType.Name #>Aggregate
    {
		public readonly Dictionary<Guid, <#= _type.ClrType.Name #>> 
			ById = new Dictionary<Guid, <#= _type.ClrType.Name #>> ();
    }
}
<#+
    private readonly EntityType _type;
#>