<#@ template language="C#" #>
using System;

namespace Sample.Generated {
	[CqrsEvent]
    public sealed class Delete<#=_type.Name#>
    {
		public Guid Id { get; set; }
		public int RowVersion { get; set; }
		public int SchemaVersion { get; } = 1;
    }
}

<#+
    private readonly MetaType _type;
#>

