<#@ template language="C#" #>
using System;

namespace Sample.Generated {
    public sealed class Delete<#= _type.ClrType.Name #>
    {
		public Guid Id { get; set; }
    }
}

<#+
    private readonly MetaType _type;
#>

